.container-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.label{
    text-align: right;
    padding: 10px;
}

.inputs{
    padding: 10px;
}

.legenda{
    font-size: 0.8em;
}


