body {
    font-size: 28px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

.bloco{
    box-shadow: 3px 3px 3px black;
    height: 250px;
    margin: 10px;
}

section.row{
    margin: 0 auto;
    width: 950px;
}

.aviso-Barra{
    background-color: rgba(0, 255, 255, 0.514);
    border-radius: 5px;
    border: 3px solid rgb(0, 153, 255);
    width: 95%;
    position: fixed;
    bottom: 20px;
    color: rgba(0, 0, 0, 0.541);
    font-weight: bolder;
    margin: 0 auto;
    padding: 10px;
}
button{
    color: rgb(3, 111, 184)!important;
    font-weight: bolder!important;
    border-radius: 50%!important;
}

.btn-fechar{
    position: absolute;
    right: 15px;
    top: 8px;
}