* {
    margin: 0;
    padding: 0;
}

/* geral */
.geral {
    width: 80%;
    margin: 0 auto;
}
/* geral */

/* Navbar */

.navbar {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: white;
}

.fa-bars, .fa-search {
    color: #1351b4;
    font-size: larger;
}

.logo-span {
    color: #333;
    font-weight: lighter;
    font-size: 1.6rem;
    line-height: normal;
    font-family: helvetica,arial,sans-serif;
}

.form-control {
    border: 0;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.search-form {
    border-radius: 10px;
    background-color: #f8f8f8;
}

.navbar-brand:hover > .logo-span {
    color: #1351b4;
}

/* Navbar */

/* cabeça row */
.cabeça {
    display: flex;
    margin-top: 5%;
    margin-bottom: 24px;
}

h3 {
    color: #555;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0px;
    line-height: 2rem;
    letter-spacing: normal;
    font-family: helvetica,arial,sans-serif;
}

.titulo {
    color: #555;
    font-weight: 400;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    letter-spacing: normal;
    vertical-align: baseline;
    text-align: center;
}

/* cabeça row */

/* corpo row */

.corpo {
    margin-bottom: 3%;
}

a {
    text-decoration: none;
}

.list-item:hover {
    opacity: 0.9;
    background-color: #555;
}

.list-item:hover > .fa-arrow-up {
    color: white;
}

.list-item:hover > .texto {
    color: white;
}

.list-item:hover > .categoria {
    color: white;
}

.list-item {
    margin: 10px 1%;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    padding: 30px 32px;
    color: #000;
    line-height: 32px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
    height: auto;
}

.categoria {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.texto {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #0c326f;
    font-family: Helvetica,Helvetica,sans-serif;
}

.fa-arrow-up {
    color: #2670e8;
    position: absolute;
    top: 0;
    right: 5px;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    font-weight: 900;
}

/* corpo row */